# Production #
#############
production/*
netcalCurrent.zip
tex/*
internal/hacks/*
tmp/*
*.mat
*sublime*
development/*

# Tmp files #
#############
*.swp
*.asv
*.pdf
*.m~
*.tif
untitled*
.ipynb*
*.ipynb

# Configuration files #
#######################
netcal.opt
netcal.json
pipeline.json

# Other #
########
external/toolbox_image/toolbox/.svn/*
external/toolbox_image/tests/*
*.svn*
external/exportfig/\.ignore/
*.gexf
.DS_Store
